# A download rewrite config. Use with --experimental_downloader_config=rewrite.config
# See bazel/repository/downloader/UrlRewriterConfig.java

# Do not rewrite GCS bucket downloads.
rewrite (storage.googleapis.com/.*) $1

# Do not rewrite pypi downloads.
rewrite (pypi.org.*/) $1
rewrite (download.cadexchanger.com/python.*/) $1

# Otherwise rewrite all other download requests to the tensorstore-bazel-mirror.
# This retains both the rewritten and non-rewritten URLs.
rewrite (.*) storage.googleapis.com/tensorstore-bazel-mirror/$1
rewrite (.*) $1
